In [ ]:
#Dictionaries -- Continuation

In [ ]:
#loop

In [2]:
Employee = {'Name':'Sarath','Place':'kerala','pin':689622,'salary':5000,'company':'ABC'}

In [3]:
print(Employee)

{'Name': 'Sarath', 'Place': 'kerala', 'pin': 689622, 'salary': 5000, 'company': 'ABC'}

In [4]:
type(Employee)

dict

In [5]:
for key,value in Employee.items():
    print (key)
    print (value)

Name
Sarath
Place
kerala
pin
689622
salary
5000
company
ABC

In [6]:
print(Employee)

{'Name': 'Sarath', 'Place': 'kerala', 'pin': 689622, 'salary': 5000, 'company': 'ABC'}

In [11]:
for key,value in Employee.items():
    print (f"The value of key={key}")
    print (f"The value of value={value}")

The value of key=Name
The value of value=Sarath
The value of key=Place
The value of value=kerala
The value of key=pin
The value of value=689622
The value of key=salary
The value of value=5000
The value of key=company
The value of value=ABC

In [12]:
for key,value in Employee.items():
    print (f"The value of key={key}")
    print (f"The value of value={value}\n")

The value of key=Name
The value of value=Sarath

The value of key=Place
The value of value=kerala

The value of key=pin
The value of value=689622

The value of key=salary
The value of value=5000

The value of key=company
The value of value=ABC

In [13]:
for key in Employee.items():
    print (f"The value of key={key}")

The value of key=('Name', 'Sarath')
The value of key=('Place', 'kerala')
The value of key=('pin', 689622)
The value of key=('salary', 5000)
The value of key=('company', 'ABC')

In [15]:
print(Employee)

{'Name': 'Sarath', 'Place': 'kerala', 'pin': 689622, 'salary': 5000, 'company': 'ABC'}

In [16]:
for key in Employee.keys():
    print (f"The value of key={key}")

The value of key=Name
The value of key=Place
The value of key=pin
The value of key=salary
The value of key=company

In [18]:
for a in Employee.values():
    print (f"The value of key={a}")

The value of key=Sarath
The value of key=kerala
The value of key=689622
The value of key=5000
The value of key=ABC

In [19]:
for a,b in Employee.items():
    print (a)
    print (b)

Name
Sarath
Place
kerala
pin
689622
salary
5000
company
ABC

In [20]:
for a,b in Employee.items():
    print (a)

Name
Place
pin
salary
company

In [21]:

    print (Employee)

{'Name': 'Sarath', 'Place': 'kerala', 'pin': 689622, 'salary': 5000, 'company': 'ABC'}

In [25]:
for a,b in Employee.items():
    print (f"{a}\n")
    print (b)

Name

Sarath
Place

kerala
pin

689622
salary

5000
company

ABC